.discussion {
	height: 85px;
	background-color: var(--color-primary-400);
	border: var(--border-size) solid var(--color-accent-400);
	box-shadow: var(--shadow-card);
	border-radius: var(--border-radius-large);
	position: relative;
	overflow: hidden;
	transition-property: height;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

.question {
	margin-top: -2px; /* fix offset caused by border */
	padding: 0 1.5rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.question i {
	font-size: 1.65rem;
	color: var(--color-accent-400);
	transition-property: transform;
	transition-duration: var(--transition-duration);
	transition-timing-function: ease-in-out;
	transform-origin: center;
}

.discussion-toggled .question i {
	transform: rotate(45deg);
}

.question span {
	margin-left: 0.35em;
}

.answer {
	margin: 0 1.5rem 1.5rem 1.5rem;
	font-size: 0.95rem;
	line-height: 1.85rem;
}
