.container {
	width: 100%;
	padding: 2.5rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: var(--color-secondary-blue);
	border-radius: var(--border-radius);
	color: var(--color-neutral-white);
	/* border-bottom: 0.5em solid var(--color-primary-pink); */
}

.container-info {
}

.info-title {
}

.info-summary {
	margin-top: 1.15em;
}

.container-input {
	width: 35em;
	margin: 2.5rem auto 0 auto;
}

.container-input small {
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.container-image {
	width: 100%;
	margin-top: 2.15rem;
	height: 2.5em;
	position: relative;
}

.image {
	cursor: pointer;
}

.container-form {
	width: 85%;
	margin: 2.15em auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container-form-input {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-form-button {
	width: 30%;
}

.container-form + small {
	width: 50%;
	margin: 1.35em auto 0 auto;
	text-align: center;
}

@media (max-width: 965px) {
	.container-form {
		width: 100%;
		margin-top: 3.15em;
	}

	.container-form {
		flex-direction: column;
		justify-content: flex-start;
	}

	.container-form-input {
		width: 100%;
	}

	.container-form-button {
		width: 15em;
		margin: 1.35em auto 0 auto;
	}

	.container-form + small {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.container-form-button {
		width: 100%;
	}
}
