.container-full {
	background-color: var(--color-neutral-grey);
}

.container-partial {
	max-width: calc(50rem + 2 * 2.5rem);
}

.title {
	margin-top: 6.5rem;
	font-weight: 600;
	color: var(--color-secondary-blue);
}

.info {
	margin-top: 2.35rem;
	display: flex;
}

.info h4 {
	font-weight: 300;
}

.info span {
	margin: 0 1.15em;
	font-weight: 300;
}

.container-image {
	width: 100%;
	margin: 3.5rem 0;
	height: 32em;
	position: relative;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.image {
	object-fit: cover;
}

.summary {
	font-style: italic;
}

.summary,
.body {
	color: var(--color-secondary-blue);
}

.body {
	margin-bottom: 6.5rem;
}

.body h2 {
	margin: 6.5rem 0 0 0;
	font-size: 1.4rem;
	line-height: 3.1rem;
}

.summary,
.body p,
.body ul,
.body ol {
	margin: 2.65rem 0;
	font-size: 1.05rem;
	line-height: 3.1rem;
}

.body ul,
.body ol {
	padding-left: 1rem;
}

.body li {
	margin: 0.35rem 0;
	font-size: 1.05rem;
	line-height: 3.1rem;
}

@media (max-width: 550px) {
	.container-partial {
		box-sizing: border-box;
	}

	.info {
		flex-direction: column;
	}

	.info h4 {
		margin-top: 0.65em;
	}

	.info h4:first-child {
		margin-top: 0;
	}

	.info span {
		display: none;
		visibility: hidden;
	}
}

/* Related */
.container-footer-related {
	width: 100%;
	margin: 8.5rem 0 6.5rem 0;
}

.footer-related {
	margin: 0 -1.35rem;
	display: flex;
	flex-wrap: wrap;
}

.footer-related-title {
	margin-bottom: 0.85em;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
}

@media (max-width: 550px) {
	.container-partial {
		max-width: auto;
		padding: 2.5rem;
	}

	.footer-related {
		/* margin: 0 -1.35rem; */
		display: flex;
		flex-wrap: wrap;
	}

	.footer-related-title {
		margin-bottom: 0.85em;
		font-size: 1.4rem;
		font-weight: 300;
		font-style: italic;
	}
}
