.button {
	width: 100%;
	padding: 1.35em;
	box-sizing: border-box;
	background-color: var(--color-accent-400);
	color: var(--color-secondary-100);
	border: none;
	border-radius: 3.5em;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: transform 150ms, opacity 150ms;
}

.button:hover {
	transform: scale(1.15);
	opacity: 0.75;
}

.button:focus {
	outline: var(--border-size) solid var(--color-secondary-100);
}

.button:active {
	opacity: 0.5;
}
