.container-full-content {
	width: 100%;
	height: calc(35em + 2 * var(--partial-spacing));
	background-color: var(--color-primary-400);
}

.container-partial-content {
	margin: var(--partial-spacing) 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	overflow: noscroll;
	overflow: visible;
}

.content-container-text {
	width: 22em;
	position: relative;
	z-index: 1;
}

.content-container-text h2 {
	margin-bottom: 0.35em;
}

.content-container-text p {
}

.button {
	width: fit-content;
	margin-top: 2.35em;
	padding: 0.7em 1em 0.65em 1.15em;
	display: flex;
	align-items: center;
	border: none;
	background-color: transparent;
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	position: relative;
	border: var(--border-size) solid var(--color-accent-400);
	border-radius: var(--border-radius-small);
	cursor: pointer;
	transition-property: transform;
	transition-duration: var(--transition-duration);
	transition-timing-function: ease-out;
}

.button:hover {
	transform: scale(1.065);
}

.button:active {
	transform: scale(0.95);
	transition: none;
}

.button::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 5px;
	background-color: var(--color-accent-400);
	z-index: -1;
	transition-property: opacity;
	transition-duration: var(--transition-duration);
	transition-timing-function: ease-out;
}

.button:hover::before {
	opacity: 0.65;
}

.button span {
	margin-bottom: 0.2em;
}

.button i {
	margin-left: 0.15em;
	font-size: 1.15rem;
}

.content-container-graphic {
	width: calc(16em * 2.5);
	height: calc(9em * 2.5);
	position: relative;
	border-radius: var(--border-radius-large);
}

.content-container-graphic::before {
	content: "";
	position: absolute;
	inset: -5em -5em -5em -12.35rem;
	background: var(--color-primary-100);
	background: linear-gradient(
		90deg,
		var(--color-primary-400) 0%,
		var(--color-primary-100) 85%
	);
	border-radius: 1.85em;
	transform: skew(0deg, 3deg);
}

.container-partial-content-reorder .content-container-graphic::before {
	left: -5em;
	right: -12.35rem;
	background: linear-gradient(
		270deg,
		var(--color-primary-400) 0%,
		var(--color-primary-100) 85%
	);
	transform: skew(0, -3deg);
}

@media (max-width: 1200px) {
	.container-full-content {
		height: fit-content;
	}

	.container-partial-content {
		justify-content: flex-start;
		flex-direction: column;
	}

	.container-partial-content-reorder {
		flex-direction: column-reverse;
	}

	.content-container-text {
		width: calc(16em * 2.5);
		height: fit-content;
	}

	.content-container-text {
		margin-bottom: 2.35em;
	}

	.content-container-graphic {
		width: calc(16em * 2.5);
		height: calc(9em * 2.5);
	}

	.button {
		margin-top: 1.65em;
	}
}

@media (max-width: 850px) {
	.content-container-text,
	.content-container-graphic {
		width: calc(16em * 2);
	}

	.content-container-graphic {
		height: calc(9em * 2);
	}
}

@media (max-width: 650px) {
	.content-container-text,
	.content-container-graphic {
		width: calc(16em * 1.5);
	}

	.content-container-graphic {
		height: calc(9em * 1.5);
	}
}

@media (max-width: 550px) {
	.content-container-text {
		width: 100%;
	}
}
