.container-image {
	aspect-ratio: 1/1;
	position: absolute;
	border-radius: var(--border-radius-large);
	user-select: none;
	pointer-events: none;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: backwards;
}

.image {
	object-fit: contain;
}

/* Tasks */

#container-tasks-container {
	height: 100%;
	left: -2.85%;
	animation-name: container-tasks-idle;
	animation-duration: 1.5s;
}

@keyframes container-tasks-idle {
	0% {
		transform: translateY(-1.5%);
	}
	100% {
		transform: translateY(1.5%);
	}
}

#container-task-drag {
	width: 58%;
	top: 15%;
	left: 15%;
	animation-name: container-task-drag;
	animation-duration: 2s;
}

@keyframes container-task-drag {
	0% {
		transform: translateY(-0.35%) translateX(2%);
	}
	100% {
		transform: translateY(1.5%) translateX(-2%);
	}
}

#container-day {
	top: -3.35%;
	right: 0;
	width: 47%;
	animation-name: container-day;
	animation-duration: 1.5s;
	animation-delay: 0.75s;
}

@keyframes container-day {
	0% {
		transform: translateY(-0.5%);
	}
	100% {
		transform: translateY(3.5%);
	}
}

/* Lists */

#container-list-0 {
	width: 48.5%;
	top: -2.5%;
	animation-name: list-0;
	animation-duration: 1.5s;
}

@keyframes list-0 {
	0% {
		transform: translateY(-1.5%);
	}
	100% {
		transform: translateY(1.5%);
	}
}

#container-list-drag {
	width: 58%;
	top: 15%;
	left: 15%;
	animation-name: list-drag;
	animation-duration: 2s;
}

@keyframes list-drag {
	0% {
		transform: translateY(-0.85%) translateX(3.5%);
	}
	100% {
		transform: translateY(1.85%) translateX(-3.5%);
	}
}

#container-list-1 {
	width: 48.5%;
	bottom: -2.5%;
	right: 0;
	animation-name: list-1;
	animation-duration: 1.5s;
	animation-delay: 0.75s;
}

@keyframes list-1 {
	0% {
		transform: translateY(-3.5%);
	}
	100% {
		transform: translateY(1.5%);
	}
}

/* Labels */

#container-label-0 {
	width: 85%;
	top: -55%;
	right: 0;
	animation-name: label-0;
	animation-duration: 1.5s;
	animation-delay: 0.35s;
}

@keyframes label-0 {
	0% {
		transform: translateX(-2.5%);
	}
	100% {
		transform: translateX(1.5%);
	}
}

#container-label-1 {
	width: 85%;
	top: -26%;
	left: 0;
	animation-name: label-1;
	animation-duration: 2s;
}

@keyframes label-1 {
	0% {
		transform: translateX(2.5%);
	}
	100% {
		transform: translateX(-1.5%);
	}
}

#container-label-2 {
	width: 85%;
	bottom: -54.5%;
	right: 0;
	animation-name: label-2;
	animation-duration: 1.5s;
	animation-delay: 0.75s;
}

@keyframes label-2 {
	0% {
		transform: translateX(2.85%);
	}
	100% {
		transform: translateX(-1.15%);
	}
}

/* Resources */

#container-question {
	width: 28.5%;
	bottom: 20%;
	left: -2.35%;
	animation-name: question;
	animation-duration: 1.5s;
}

@keyframes question {
	0% {
		transform: translateY(2.5%);
	}
	100% {
		transform: translateY(-2.5%);
	}
}

#container-rocket {
	width: 28.5%;
	top: 20%;
	left: 24%;
	animation-name: rocket;
	animation-duration: 1.5s;
}

@keyframes rocket {
	0% {
		transform: translateY(-2.5%);
	}
	100% {
		transform: translateY(2.5%);
	}
}

#container-mail {
	width: 28.5%;
	bottom: 20%;
	right: 21%;
	animation-name: mail;
	animation-duration: 1.5s;
	animation-delay: 0.75s;
}

@keyframes mail {
	0% {
		transform: translateY(2.5%);
	}
	100% {
		transform: translateY(-2.5%);
	}
}

#container-bulb {
	width: 28.5%;
	top: 20%;
	right: -4.15%;
	animation-name: bulb;
	animation-duration: 1.5s;
	animation-delay: 0.75s;
}

@keyframes bulb {
	0% {
		transform: translateY(-2.5%);
	}
	100% {
		transform: translateY(2.5%);
	}
}

/* Drawings */

#container-tasks {
	width: 82%;
	top: -68%;
	left: -11%;
	animation-name: tasks;
	animation-duration: 1.5s;
	animation-delay: 0.35s;
}

@keyframes tasks {
	0% {
		transform: translateX(-0.35%) translateY(0.65%);
	}
	100% {
		transform: translateX(0.85%) translateY(-0.65%);
	}
}

#container-today {
	width: 65%;
	top: -87%;
	right: -1%;
	animation-name: today;
	animation-duration: 1.5s;
	animation-delay: 1.5s;
}

@keyframes today {
	0% {
		transform: translateX(0.65%) translateY(0.35%);
	}
	100% {
		transform: translateX(-0.65%) translateY(-1.5%);
	}
}

#container-tomorrow {
	width: 60%;
	top: -1%;
	right: 12%;
	animation-name: tomorrow;
	animation-duration: 1.85s;
	animation-delay: 0.75s;
}

@keyframes tomorrow {
	0% {
		transform: translateX(0.35%) translateY(1.15%);
	}
	100% {
		transform: translateX(-0.35%) translateY(-1.35%);
	}
}
