@media (prefers-reduced-motion: no-preference) {
	.visibility .visibility-container {
		position: absolute;
		inset: 0;
		opacity: 0;
		transition-property: transform, opacity;
		transition-duration: 1s;
		transition-timing-function: ease-in-out;
	}

	.visibility-active .visibility-container {
		transform: translateY(0);
		opacity: 1;
	}

	#container-task-drag {
		transform: scale(0) translateY(50px);
		transition-delay: 350ms;
	}
	.visibility-active #container-task-drag {
		transform: scale(1) translateY(0);
	}

	#container-tasks-container {
		transform: scale(0) translateY(100px);
	}
	.visibility-active #container-tasks-container {
		transform: scale(1) translateY(0);
	}

	#container-day {
		transform: scale(0) translateY(85px);
		transition-delay: 150ms;
	}
	.visibility-active #container-day {
		transform: scale(1) translateY(0);
	}
}

.container-image {
	aspect-ratio: 1/1;
	position: absolute;
	border-radius: var(--border-radius-large);
	user-select: none;
	pointer-events: none;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: backwards;
}

.image {
	object-fit: contain;
}

/* Tasks */

#container-task-drag .container-image {
	width: 45%;
	top: 25%;
	left: 25%;
	animation-duration: 2.15s;
}

@keyframes container-task-drag {
	0% {
		transform: translateY(-2.35%) translateX(2.35%) rotate(-8.5deg);
	}
	100% {
		transform: translateY(2.35%) translateX(-2.35%) rotate(-8.5deg);
	}
}

#container-tasks-container .container-image {
	height: 100%;
	left: -2.85%;
	animation-duration: 1.5s;
}

@keyframes container-tasks-idle {
	0% {
		transform: translateY(-0.5%);
	}
	100% {
		transform: translateY(1.5%);
	}
}

#container-day .container-image {
	top: -3.35%;
	right: 0;
	width: 47%;
	animation-duration: 1.5s;
	animation-delay: 1s;
}

@keyframes container-day {
	0% {
		transform: translateY(-0.5%);
	}
	100% {
		transform: translateY(1.5%);
	}
}

/* Lists */

#container-list-drag {
	width: 48.8%;
	top: 22%;
	left: 15%;
	animation-duration: 2s;
	animation-delay: 0.75s;
}

@keyframes list-drag {
	0% {
		transform: translateY(-1.15%) translateX(1.15%) rotate(-8.5deg);
	}
	100% {
		transform: translateY(1.15%) translateX(-1.15%) rotate(-8.5deg);
	}
}

#container-list-0 {
	width: 48.5%;
	top: -2.5%;
	animation-duration: 1.5s;
}

@keyframes list-0 {
	0% {
		transform: translateY(-0.5%);
	}
	100% {
		transform: translateY(1.5%);
	}
}

#container-list-1 {
	width: 48.5%;
	bottom: -2.5%;
	right: 0;
	animation-duration: 1.5s;
	animation-delay: 1s;
}

@keyframes list-1 {
	0% {
		transform: translateY(-0.5%);
	}
	100% {
		transform: translateY(1.5%);
	}
}

/* Labels */

#container-label-0 {
	width: 85%;
	top: -55%;
	right: 0;
	animation-duration: 2s;
}

@keyframes label-0 {
	0% {
		transform: translateX(-1.15%);
	}
	100% {
		transform: translateX(1.15%);
	}
}

#container-label-1 {
	width: 85%;
	top: -26%;
	left: 0;
	animation-duration: 2s;
	animation-delay: 0.75s;
}

@keyframes label-1 {
	0% {
		transform: translateX(1.15%);
	}
	100% {
		transform: translateX(-1.15%);
	}
}

#container-label-2 {
	width: 85%;
	bottom: -54.5%;
	right: 0;
	animation-duration: 2s;
	animation-delay: 1.5s;
}

@keyframes label-2 {
	0% {
		transform: translateX(-1.15%);
	}
	100% {
		transform: translateX(1.15%);
	}
}

/* Resources */

#container-question {
	width: 22%;
	bottom: 22%;
	left: 0;
	animation-duration: 1.5s;
}

@keyframes question {
	0% {
		transform: translateY(2.5%);
	}
	100% {
		transform: translateY(-2.5%);
	}
}

#container-rocket {
	width: 22%;
	top: 22%;
	left: 26%;
	animation-duration: 1.5s;
}

@keyframes rocket {
	0% {
		transform: translateY(-2.5%);
	}
	100% {
		transform: translateY(2.5%);
	}
}

#container-mail {
	width: 22%;
	bottom: 22%;
	right: 26%;
	animation-duration: 1.5s;
	animation-delay: 0.75s;
}

@keyframes mail {
	0% {
		transform: translateY(2.5%);
	}
	100% {
		transform: translateY(-2.5%);
	}
}

#container-bulb {
	width: 22%;
	top: 22%;
	right: 0;
	animation-duration: 1.5s;
	animation-delay: 0.75s;
}

@keyframes bulb {
	0% {
		transform: translateY(-2.5%);
	}
	100% {
		transform: translateY(2.5%);
	}
}

/* Drawings */

#container-tomorrow {
	width: 52%;
	right: 15%;
	bottom: -5%;
	animation-duration: 2s;
}

@keyframes tomorrow {
	0% {
		transform: translateX(0.35%) translateY(1.15%);
	}
	100% {
		transform: translateX(-0.35%) translateY(-1.35%);
	}
}

#container-tasks {
	width: 75%;
	top: -65%;
	left: -8%;
	animation-duration: 2s;
	animation-delay: 1s;
}

@keyframes tasks {
	0% {
		transform: translateX(-0.35%) translateY(0.65%);
	}
	100% {
		transform: translateX(0.85%) translateY(-0.65%);
	}
}

#container-today {
	width: 60%;
	top: -86%;
	right: 2%;
	animation-duration: 2s;
	animation-delay: 1.5s;
}

@keyframes today {
	0% {
		transform: translateX(0.65%) translateY(0.35%);
	}
	100% {
		transform: translateX(-0.65%) translateY(-1.5%);
	}
}

@media (prefers-reduced-motion: no-preference) {
	#container-task-drag .container-image {
		animation-name: container-task-drag;
	}

	#container-tasks-container .container-image {
		animation-name: container-tasks-idle;
	}

	#container-day .container-image {
		animation-name: container-day;
	}

	#container-list-drag {
		animation-name: list-drag;
	}

	#container-list-0 {
		animation-name: list-0;
	}

	#container-list-1 {
		animation-name: list-1;
	}

	#container-label-0 {
		animation-name: label-0;
	}

	#container-label-1 {
		animation-name: label-1;
	}

	#container-label-2 {
		animation-name: label-2;
	}

	#container-question {
		animation-name: question;
	}

	#container-rocket {
		animation-name: rocket;
	}

	#container-mail {
		animation-name: mail;
	}

	#container-bulb {
		animation-name: bulb;
	}

	#container-tomorrow {
		animation-name: tomorrow;
	}

	#container-tasks {
		animation-name: tasks;
	}

	#container-today {
		animation-name: today;
	}
}
