.container-partial {
	margin: 6.5em 0;
	scroll-margin-top: calc(8.5em + var(--header-height));
}

.container-partial h1 {
	margin-bottom: 3.5rem;
}

.container-partial h2 {
	margin-top: 3.35rem;
	margin-bottom: 1.65rem;
	font-size: 2.35rem;
	line-height: 3.35rem;
}

.container-partial p:not(:last-child) {
	margin-bottom: 1.65rem;
}

.spacer {
	height: 3.5rem;
}

@media (max-width: 1200px) {
	.container-partial {
		margin: 3.85em 0;
	}
}
