.container-full {
	background-color: var(--color-primary-400);
	color: var(--color-secondary-100);
}

.container-partial {
	margin: 3.5em 0;
}

.container-partial h2 {
	font-size: 1.65rem;
	text-align: center;
}

.container-discussion {
	margin-top: 3.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2.35rem;
}

.container-discussion h3 {
	margin-bottom: 0.35em;
}

@media (max-width: 1200px) {
	.container-discussion {
		grid-template-columns: repeat(1, 1fr);
	}
}
