.container-main {
	padding-top: var(--header-height);
	background-color: var(--color-primary-100);
	color: var(--color-secondary-100);
	overflow: hidden;
}

.container-full-content {
	margin: 3.5rem 0;
	box-sizing: border-box;
	position: relative;
}

.container-partial-content {
}

.subheading {
	margin-bottom: 1.65em;
	font-weight: 600;
	letter-spacing: 0.15rem;
	color: var(--color-secondary-400);
	text-align: center;
}

.heading {
	margin-bottom: 0.35em;
	font-size: 2.85rem;
	text-align: center;
	line-height: 3.35rem;
}

.tagline {
	margin-bottom: 2.35em;
	text-align: center;
}

.container-reel {
	margin-top: 6.5rem;
	padding-bottom: 8.5em;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	overflow-x: hidden;
	transform: translateY(1px);
}

.container-video {
	width: fit-content;
	height: 35em;
	margin-left: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: margin-left;
	transition-duration: 350ms;
	transition-timing-function: ease-out;
}

.demo {
	width: 35em;
	z-index: 1;
	transition-property: transform, opacity, filter, width;
	transition-duration: 350ms;
	transition-timing-function: ease-out;
}

.demo-current {
	width: 50rem;
	opacity: 1;
	transform: translate(0);
	z-index: 2;
}

.demo-back {
	opacity: 0.95;
	filter: brightness(0.65);
	cursor: pointer;
}

.demo-hidden {
	opacity: 0;
}

.demo-back-previous {
	transform: translateX(35%);
}

.demo-back-next {
	transform: translateX(-35%);
}

.demo-video {
	width: 100%;
	border-radius: var(--border-radius);
}

.demo-heading {
	margin-top: 1.15em;
	font-weight: 600;
	color: var(--color-secondary-blue);
	text-align: center;
}

.wave {
	width: 100%;
	min-width: 65rem;
	height: 85%;
	position: absolute;
	left: 0 !important;
	right: 0 !important;
	bottom: 0;
	--transform: scaleX(2);
}

@media (prefers-reduced-motion: no-preference) {
	.wave {
		animation-name: animateWave;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
		animation-duration: 12.35s;
	}

	@keyframes animateWave {
		0% {
			transform: translateX(0) var(--transform);
		}
		50% {
			transform: translateX(-50%) var(--transform);
		}
		100% {
			transform: translateX(0) var(--transform);
		}
	}
}

@media (max-width: 1000px) {
	.container-video {
		height: 26em;
	}

	.demo {
		width: 22em;
	}

	.demo-current {
		width: 40rem;
	}
}

@media (max-width: 850px) {
	.container-video {
		height: 20em;
	}

	.demo {
		width: 15em;
	}

	.demo-current {
		width: 30rem;
	}
}

@media (max-width: 650px) {
	.container-video {
		height: 18em;
	}

	.demo {
		width: 15em;
	}

	.demo-current {
		width: 25rem;
	}
}

@media (max-width: 550px) {
	.container-video {
		height: 14em;
	}

	.demo {
		width: 10em;
	}

	.demo-current {
		width: 18rem;
	}
}
