.container-full-content {
	background-color: var(--color-primary-400);
	color: var(--color-secondary-100);
	box-shadow: var(--color-secondary-100) 0px 1px 2px 0px,
		var(--color-secondary-100) 0px 1px 2px 0px;
	position: relative;
}

.container-full-content::after {
	content: "";
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: -4px;
	background-color: var(--color-primary-400);
}

.container-partial-content {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container-image {
	width: calc(9.7em / 1.85);
	height: calc(3.65em / 1.85);
	margin-bottom: 0.85em;
	position: relative;
}

.container-image a {
	position: absolute;
	inset: 0;
}

.image {
	object-fit: contain;
	cursor: pointer;
}

/* Content */
.container-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 6.5em;
}

.content-column {
}

.content-column-heading {
	font-weight: 600;
	color: var(--color-secondary-blue);
}

.content-column-list {
	list-style: none;
}

.content-column-list-element {
	margin-top: 1em;
}

.content-column-list-element a {
	font-weight: 500;
	color: var(--color-secondary-blue);
	text-decoration: none;
}

@media (max-width: 800px) {
	.container-partial-content {
		flex-direction: column;
	}

	.container-content {
		margin-top: 3.5em;
		gap: 3.5em;
	}
}

@media (max-width: 1100px) {
	.container-content {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 300px) {
	.container-content {
		grid-template-columns: repeat(1, 1fr);
	}
}
