/* roboto-slab-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/roboto-slab-v24-latin-regular.eot"); /* IE9 Compat Modes */
	src: url("/fonts/roboto-slab-v24-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/roboto-slab-v24-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/fonts/roboto-slab-v24-latin-regular.woff") format("woff"),
		/* Modern Browsers */ url("/fonts/roboto-slab-v24-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/roboto-slab-v24-latin-regular.svg#RobotoSlab")
			format("svg"); /* Legacy iOS */
}

/* roboto-slab-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/roboto-slab-v24-latin-500.eot"); /* IE9 Compat Modes */
	src: url("/fonts/roboto-slab-v24-latin-500.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/roboto-slab-v24-latin-500.woff2")
			format("woff2"),
		/* Super Modern Browsers */ url("/fonts/roboto-slab-v24-latin-500.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/roboto-slab-v24-latin-500.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/roboto-slab-v24-latin-500.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}

/* roboto-slab-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/roboto-slab-v24-latin-700.eot"); /* IE9 Compat Modes */
	src: url("/fonts/roboto-slab-v24-latin-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/roboto-slab-v24-latin-700.woff2")
			format("woff2"),
		/* Super Modern Browsers */ url("/fonts/roboto-slab-v24-latin-700.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/roboto-slab-v24-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/roboto-slab-v24-latin-700.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}

html,
body,
#__next {
	min-height: 100%;
	background-color: var(--color-dark-400);
}

body {
	overflow-x: hidden;
}

:root {
	--color-accent-100: #ff6b7b;
	--color-accent-400: #fe4c5f;
	--color-dark-100: #323652;
	--color-dark-400: #292f44;
	--color-light-100: #ffffff;
	--color-light-400: #eaefff;

	--color-primary-100: var(--color-dark-100);
	--color-primary-400: var(--color-dark-400);
	--color-secondary-100: var(--color-light-100);
	--color-secondary-400: var(--color-light-400);

	--border-size: 0.2rem;
	--border-radius: 1.35rem;

	--shadow-color: 227deg 36% 15%;
	--shadow-card: 0px 0.6px 0.7px hsl(var(--shadow-color) / 0.13),
		0px 2.7px 3.3px -0.2px hsl(var(--shadow-color) / 0.15),
		0px 4.6px 5.7px -0.4px hsl(var(--shadow-color) / 0.16),
		0px 6.9px 8.5px -0.7px hsl(var(--shadow-color) / 0.17),
		0px 9.9px 12.3px -0.9px hsl(var(--shadow-color) / 0.18),
		0px 14.1px 17.4px -1.1px hsl(var(--shadow-color) / 0.2),
		-0.1px 19.9px 24.6px -1.3px hsl(var(--shadow-color) / 0.21),
		-0.1px 27.8px 34.4px -1.5px hsl(var(--shadow-color) / 0.22),
		-0.1px 38.2px 47.3px -1.7px hsl(var(--shadow-color) / 0.23);

	--header-height: 6.15rem;

	--transition-duration: 150ms;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab", serif;
	color: var(--color-secondary-400);
	box-sizing: border-box;
}

.container-full {
	width: 100%;
	display: flex;
	justify-content: center;
}

.container-partial {
	max-width: calc(68rem + 2 * 2.5rem);
	width: 100%;
	padding: 0 2.5rem;
	box-sizing: border-box;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 3.85rem;
}

h2 {
	font-size: 1.85rem;
	font-weight: 600;
	line-height: 2.15rem;
}

h3 {
	font-size: 1.35rem;
	font-weight: 500;
	line-height: 1.85rem;
}

h4 {
}

h5 {
	font-size: 0.85rem;
	font-weight: 600;
	line-height: 1.5rem;
	letter-spacing: 0.025rem;
}

p,
li {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 2rem;
}

ul {
	padding: 0;
}

a {
	color: var(--color-accent-400);
	font-weight: 600;
}

a:focus {
	outline: var(--border-size) solid var(--color-accent-400);
	border-radius: var(--border-radius);
	outline-offset: 0.25em;
}

:focus:not(:focus-visible) {
	outline: none !important;
}

a:active {
	opacity: 0.5;
}

strong {
	font-weight: 600;
}

small {
	margin-top: 0.65em;
	font-size: 0.85rem;
	font-weight: 300;
	line-height: 1.65rem;
	display: block;
}

.pageclip-form__success {
	inset: -0.15rem;
	background-color: var(--color-primary-400);
	opacity: 0.85;
}

.pageclip-form__success__message {
	color: var(--color-secondary-100);
}

@media (max-width: 550px) {
	.container-partial {
		max-width: calc(65rem + 2 * 1.5em);
		padding: 0 1.5rem;
	}

	h1 {
		font-size: 2.35rem !important;
		line-height: 3.15rem !important;
	}
}
