.container-full {
	width: 100%;
	height: var(--header-height);
	/* position: fixed; */
	background-color: var(--color-secondary-100);
	display: flex;
	align-items: flex-end;
	top: 0;
	z-index: 100;
	transition-property: background-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: linear;
}

.container-partial {
	width: 68rem;
	height: fit-content;
	padding: 0.5em;
	background-color: var(--color-secondary-400);
	border-radius: var(--border-radius-large);

	--color-text: var(--color-primary-400);
	--color-menu: var(--color-primary-100);
	--color-highlight: var(--color-primary-400);
}

/* .scrolled {
	background-color: var(--color-primary-400);
}

.secondary-100 nav {
	--color-text: var(--color-primary-400);
	--color-menu: var(--color-secondary-400);
	--color-highlight: var(--color-secondary-100);
}

.primary-100 nav {
	--color-text: var(--color-secondary-100);
	--color-menu: var(--color-primary-400);
	--color-highlight: var(--color-primary-100);
}

.scrolled nav {
	--color-text: var(--color-secondary-100);
	--color-menu: var(--color-primary-100);
	--color-highlight: var(--color-primary-400);
} */

.container-partial {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;

	--margin-link: 1.65em;
}

.container-image {
	width: calc(9.7em / 2.265);
	height: calc(3.65em / 2.265);
	margin-left: 0.85em;
	position: relative;
}

.container-image a {
	position: absolute;
	inset: 0;
}

.image {
	object-fit: contain;
	cursor: pointer;
}

.container-link {
	display: flex;
	align-items: center;
	visibility: visible;
	position: relative;
	transition-property: border;
	transition-duration: var(--transition-duration);
	transition-timing-function: linear;
}

.nav-link {
	margin: 0 var(--margin-link);
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--color-text);
	text-decoration: none;
	background-color: transparent;
	border: none;
	user-select: none;
	transition-property: color;
	transition-duration: var(--transition-duration);
	transition-timing-function: linear;
}

.nav-link-app {
	color: var(--color-accent-400);
}

.container-link button {
	margin-left: var(--margin-link);
}

/* Mobile */

.nav-menu-toggle {
	display: none;
	visibility: hidden;
	background-color: transparent;
	color: var(--color-text);
	font-size: 1.65rem;
	border: none;
}

.container-nav-menu {
	max-height: calc(100% - var(--header-height));
	padding: 1.5rem;
	overflow-y: scroll;
	display: none;
	visibility: hidden;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: fixed;
	inset: 0;
	top: var(--header-height);
	background-color: var(--color-highlight);
	box-shadow: var(--box-shadow);
	z-index: 99;
	transition-property: background-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: linear;
}

.nav-menu-link {
	width: 100%;
	margin: 0.65em 0;
	padding: 0.65em 1.15em;
	box-sizing: border-box;
	font-weight: 500;
	background-color: var(--color-menu);
	color: var(--color-text);
	border-radius: var(--border-radius-large);
	text-decoration: none;
	line-height: 2rem;
	transition-property: background-color, color;
	transition-duration: var(--transition-duration);
	transition-timing-function: linear;
}

.nav-menu-link:active {
	opacity: 0.65;
}

.nav-menu-dropdown-toggle {
	margin-bottom: 0.65em;
	font-weight: 600;
	color: var(--color-text);
	transition-property: color;
	transition-duration: var(--transition-duration);
	transition-timing-function: linear;
}

.nav-menu-dropdown {
	width: 100%;
	margin-bottom: 2.5em;
	padding-bottom: 0.65rem;
	display: flex;
	flex-direction: column;
	list-style: none;
	border-bottom: var(--border-size) solid var(--color-menu);
	transition-property: border;
	transition-duration: var(--transition-duration);
	transition-timing-function: linear;
}

.nav-menu-dropdown-link {
	width: 100%;
	display: flex;
}

.nav-menu-button {
	background-color: var(--color-accent-400);
	color: var(--color-secondary-100);
}

@media (max-width: 900px) {
	.container-nav-bar {
		display: none;
		visibility: hidden;
	}

	.nav-menu-toggle {
		display: block;
		visibility: visible;
	}

	.container-nav-menu {
		display: flex;
		visibility: visible;
	}
}
