.container-full {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	z-index: 100;
}

.container-partial {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.container-image {
	width: calc(9.7em / 2.35);
	height: calc(3.65em / 2.35);
	position: relative;
}

.container-image a {
	position: absolute;
	inset: 0;
}

.image {
	object-fit: contain;
	cursor: pointer;
}

.nav-links {
	display: flex;
	flex-direction: row;
}

.container-nav-bar {
	padding-right: 1em;
	display: flex;
	align-items: center;
	visibility: visible;
	border-right: var(--border-size) solid var(--color-secondary-400);
	position: relative;
}

.nav-bar-link {
	margin: 0 1em;
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-primary-400);
	text-decoration: none;
	background-color: transparent;
	border: none;
	user-select: none;
}

/* Dropdown-- */

.nav-bar-dropdown-toggle {
	height: 2.65em;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.nav-bar-dropdown-toggle:focus:not(:focus-visible) {
	outline: none;
}

.nav-bar-dropdown-toggle svg {
	transform: scale(0.65);
}

.nav-bar-dropdown-toggle:hover + .nav-bar-dropdown,
.nav-bar-dropdown-toggle:focus + .nav-bar-dropdown,
.nav-bar-dropdown:hover,
.nav-bar-dropdown:focus-within {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.nav-bar-dropdown-toggle:focus {
	outline: var(--border-size) solid var(--color-accent-400);
	border-radius: var(--border-radius);
	outline-offset: 0.25em;
}

.nav-bar-dropdown {
	width: 22em;
	padding: 0.65em;
	top: 2.65em;
	display: flex;
	flex-direction: column;
	position: absolute;
	list-style: none;
	background-color: var(--color-secondary-100);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	visibility: hidden;
	opacity: 0;
	transform: translateY(-10px);
	transition-property: transform, opacity, visibility;
	transition-duration: var(--transition-duration);
	transition-timing-function: ease-out;
}

.nav-bar-dropdown:nth-of-type(2) {
	left: 7.65em;
}

.nav-bar-dropdown:nth-of-type(3) {
	left: calc(7.65em * 2);
}

.nav-bar-dropdown li {
	margin-bottom: 0.65em;
}

.nav-bar-dropdown li:last-child {
	margin-bottom: 0;
}

.nav-bar-dropdown-link {
	padding: 1.15em;
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	text-decoration: solid;
	transition-property: background-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: ease-out;
}

.nav-bar-dropdown-link:hover {
	background-color: var(--color-secondary-400);
}

.nav-bar-dropdown-link svg {
	transform: scale(1.25);
}

.nav-bar-dropdown-link-info {
	margin-left: 1.15em;
	display: flex;
	flex-direction: column;
	color: var(--color-primary-400);
}

.nav-bar-dropdown-link-info-heading {
	margin-bottom: 0.5em;
	font-size: 1rem;
	line-height: 1rem;
}

.nav-bar-dropdown-link-info-description {
	font-size: 1rem;
	line-height: 1rem;
	font-weight: 500;
}

@media (max-height: 315px) {
	.nav-bar-dropdown {
		height: calc(100vh - var(--header-height));
		overflow-y: scroll;
	}
}

/* --Dropdown */

.nav-bar-app {
	padding-left: 1em;
	display: flex;
	align-items: center;
	visibility: visible;
}

.nav-bar-app-link {
	margin: 0 1em;
	color: var(--color-accent-400);
}

.nav-bar-app-button {
	margin-right: 0;
	padding: 0.65em 0.85em;
	border-radius: var(--border-radius);
	background-color: var(--color-accent-400);
	color: var(--color-secondary-100);
}

@media (max-width: 850px) {
	.nav-bar-app {
		margin-right: 2em;
	}
}

@media (max-width: 550px) {
	.nav-bar-app {
		margin-right: 1.5em;
		padding: 0;
	}

	.nav-bar-app-button {
		margin: 0;
		font-size: 0.9rem;
	}
}

@media (max-width: 385px) {
	.nav-bar-app-link {
		display: none;
		visibility: hidden;
	}
}

/* Mobile */

.nav-menu-toggle {
	display: none;
	visibility: hidden;
	background-color: transparent;
	border: none;
}

.container-nav-menu {
	max-height: calc(100% - var(--header-height));
	padding: 1.5rem;
	overflow-y: scroll;
	display: none;
	visibility: hidden;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: fixed;
	inset: 0;
	top: var(--header-height);
	background-color: var(--color-secondary-100);
	box-shadow: var(--box-shadow);
	z-index: 99;
}

.nav-menu-link {
	width: 100%;
	margin: 0.65em 0;
	padding: 0.65em 1.15em;
	box-sizing: border-box;
	font-weight: 500;
	background-color: var(--color-secondary-400);
	border-radius: var(--border-radius);
	color: var(--color-primary-400);
	text-decoration: none;
	line-height: 2rem;
}

.nav-menu-link:active {
	opacity: 0.65;
}

.nav-menu-dropdown-toggle {
	margin-bottom: 0.65em;
	font-weight: 600;
	color: var(--color-primary-400);
}

.nav-menu-dropdown {
	width: 100%;
	margin-bottom: 2.5em;
	padding-bottom: 0.65rem;
	display: flex;
	flex-direction: column;
	list-style: none;
	border-bottom: var(--border-size) solid var(--color-secondary-400);
}

.nav-menu-dropdown-link {
	width: 100%;
	display: flex;
}

.nav-menu-button {
	background-color: var(--color-accent-400);
	color: var(--color-secondary-100);
}

@media (max-width: 850px) {
	.container-nav-bar {
		display: none;
		visibility: hidden;
	}

	.nav-menu-toggle {
		display: block;
		visibility: visible;
	}

	.container-nav-menu {
		display: flex;
		visibility: visible;
	}
}
