.containerMain {
	width: 100%;
	padding: 3.5em 1.5em !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.helpContainer {
	max-width: 65em;
	width: 100%;
	margin-top: 3.5em;
}

.helpSection {
	width: 100%;
}

.helpSectionHeading {
	margin: 3.5em 0 1em 0;
	font-size: 2rem;
}

.helpSectionSubHeading {
	margin-top: 3.5em;
	font-size: 1.35rem;
}

.helpSectionSubHeadingSmall {
	margin: 3.5em 0 -0.5em 0;
	font-size: 1.1rem;
	line-height: 2.35em;
}

.helpSectionDescription {
	margin: 1em 0;
	font-size: 1.1rem;
	line-height: 2.35em;
}
