.container-partial {
	height: calc(100vh - var(--header-height));
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-height: 150px) {
	.container-partial {
		display: block;
	}
}
