/* Splash */
.container-full-splash {
	min-height: 55em;
	position: relative;
	background-color: var(--color-secondary-100);
	color: var(--color-primary-400);
}

.container-partial-splash {
	height: 18.5em;
	margin-top: 8.5em;
	position: relative;
}

.splash-info {
	position: relative;
	z-index: 2;
}

.container-partial-splash button:focus {
	outline-color: var(--color-primary-400) !important;
}

.heading {
	margin-bottom: 0.15em;
	color: var(--color-primary-400);
}

.heading span:first-child {
	color: var(--color-primary-100);
}

.heading span:last-child {
	color: var(--color-accent-400);
}

.tagline {
	margin-top: 1.35rem;
	font-weight: 400;
	color: var(--color-primary-400);
}

.container-full-splash input {
	background-color: var(--color-secondary-400);
}

.splash-demo {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	pointer-events: none;
	user-select: none;
	z-index: 1;
}

.splash-demo-container-image {
	--_scale-factor: 0.55;
	width: calc(1310px * var(--_scale-factor));
	height: calc(894px * var(--_scale-factor));
	margin-right: -5rem;
	position: relative;
	mask-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgb(255, 255, 255) 75%
	);
}

.splash-demo-image {
	object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
	.splash-demo-container-image {
		animation-name: splash-demo-intro;
		animation-timing-function: var(--transition-timing-function-elastic);
		animation-duration: 850ms;
	}

	@keyframes splash-demo-intro {
		0% {
			transform: translateX(-85px);
			opacity: 0.35;
		}
		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

@media (max-width: 1200px) {
}

@media (max-width: 650px) {
	.heading {
		margin: 3.5rem 0 0.35em 0;
	}

	.splash-demo {
		align-items: flex-start;
		justify-content: center;
	}

	.splash-demo-container-image {
		--_scale-factor: 0.32;
		mask-image: linear-gradient(
			to top,
			rgba(255, 255, 255, 0) 15%,
			rgb(255, 255, 255)
		);
	}
}

.wave {
	width: 100%;
	height: 50%;
	min-width: 65rem;
	position: absolute;
	left: 0 !important;
	right: 0 !important;
	bottom: 0;
	transform: scaleX(2);
	pointer-events: none;
	user-select: none;
}

.wave svg {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
}

.wave-background {
	height: 55%;
	animation-duration: 12.35s;
}

.wave-middleground {
	animation-duration: 9.65s;
}

.wave-foreground {
	bottom: -1px; /* fix seam */
	animation-duration: 5.15s;
}

@media (prefers-reduced-motion: no-preference) {
	.wave {
		animation-name: animateWave;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
	}

	@keyframes animateWave {
		0% {
			transform: translateX(0) scaleX(2);
		}
		50% {
			transform: translateX(-50%) scaleX(2);
		}
		100% {
			transform: translateX(0) scaleX(2);
		}
	}
}
