/* Splash */
.container-full-splash {
	padding-top: 0.85em;
	/* padding-top: var(--header-height); */
	position: relative;
	background-color: var(--color-secondary-100);
	color: var(--color-primary-400);
}

.container-partial-splash {
	margin: 3.5em 0 5em 0;
	padding-top: 5em;
	padding-bottom: 3em;
	display: flex;
}

.splash-info {
	z-index: 1;
}

.container-partial-splash button:focus {
	outline-color: var(--color-primary-400) !important;
}

.heading {
	margin-bottom: 0.15em;
	color: var(--color-primary-400);
}

.heading span:first-child {
	color: var(--color-primary-100);
}

.heading span:last-child {
	color: var(--color-accent-400);
}

.tagline {
	max-width: 31em;
	margin-top: 1.15em;
	font-weight: 500;
	color: var(--color-primary-400);
}

.container-full-splash input {
	background-color: var(--color-secondary-400);
}

.splash-demo {
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
}

.splash-demo-container-image {
	width: 40em;
	aspect-ratio: 1/1;
	position: absolute;
	right: -5em;
	mask-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgb(255, 255, 255) 65%
	);
}

.splash-demo-image {
	object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
	.splash-demo-container-image {
		animation-name: splash-demo-intro;
		animation-timing-function: var(--transition-timing-function-elastic);
		animation-duration: 850ms;
	}

	@keyframes splash-demo-intro {
		0% {
			transform: translateX(-85px);
			opacity: 0.35;
		}
		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

@media (max-width: 650px) {
	.heading {
		margin: 3.5rem 0 0.35em 0;
	}
}

/* Splash: Waves */
.container-waves {
	height: 22em;
	position: relative;
	overflow-x: hidden;
	background-color: var(--color-secondary-100);
	/* z-index: -100; */
}

.wave {
	width: 100%;
	min-width: 65rem;
	height: 100%;
	position: absolute;
	left: 0 !important;
	right: 0 !important;
	bottom: 0;
	transform: scaleX(2);
}

.wave-background {
	animation-duration: 12.35s;
}

.wave-middleground {
	animation-duration: 9.65s;
}

.wave-foreground {
	animation-duration: 5.15s;
}

@media (prefers-reduced-motion: no-preference) {
	.wave {
		animation-name: animateWave;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
	}

	@keyframes animateWave {
		0% {
			transform: translateX(0) scaleX(2);
		}
		50% {
			transform: translateX(-50%) scaleX(2);
		}
		100% {
			transform: translateX(0) scaleX(2);
		}
	}
}

/* Features */

.container-full-features {
	background-color: var(--color-primary-400);
	color: var(--color-secondary-100);
	position: relative;
}

.container-partial-features {
	margin: 3.5em 0 8.5em 0;
}

.features-title {
	margin-bottom: 3.85rem;
	font-size: 2.35rem;
	font-weight: 600;
	text-align: center;
}

.container-partial-features-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

.feature {
	padding: 1.15em;
	box-sizing: border-box;
	border: var(--border-size) solid var(--color-accent-400);
	background: var(--color-primary-400);
	background: linear-gradient(
		145deg,
		rgba(255, 107, 123, 0) 0%,
		rgba(255, 107, 123, 0.325) 100%
	);
	box-shadow: var(--shadow-card);
	border-radius: var(--border-radius-large);
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	word-wrap: break-word;
	z-index: 1;
}

.feature i {
	color: var(--color-accent-400);
	font-size: 2.85rem;
}

.feature p {
	margin-top: 1.15em;
	width: 100%;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 1201px) {
	.feature {
		animation-name: featureEnter;
		animation-timing-function: var(--transition-timing-function-elastic);
		animation-duration: 850ms;
		animation-fill-mode: backwards;
		animation-play-state: paused;
	}

	.features-animation .feature {
		animation-play-state: running;
	}

	.feature:nth-child(1) {
		-webkit-animation-delay: 0;
		animation-delay: 0;
	}

	.feature:nth-child(2) {
		-webkit-animation-delay: calc(65ms * 1);
		animation-delay: calc(65ms * 1);
	}

	.feature:nth-child(3) {
		-webkit-animation-delay: calc(65ms * 2);
		animation-delay: calc(65ms * 2);
	}

	.feature:nth-child(4) {
		-webkit-animation-delay: calc(65ms * 3);
		animation-delay: calc(65ms * 3);
	}

	.feature:nth-child(5) {
		-webkit-animation-delay: calc(65ms * 4);
		animation-delay: calc(65ms * 4);
	}

	.feature:nth-child(6) {
		-webkit-animation-delay: calc(65ms * 5);
		animation-delay: calc(65ms * 5);
	}

	@keyframes featureEnter {
		0% {
			transform: scale(0.15);
			opacity: 0;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
}

@media (max-width: 1200px) {
	.container-partial-features-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 650px) {
	.container-partial-features-list {
		grid-template-columns: repeat(1, 1fr);
	}
}
