/* Splash */
.container-full-splash {
	padding-top: var(--header-height);
	position: relative;
	background-color: var(--color-secondary-100);
	color: var(--color-primary-400);
}

.container-partial-splash {
	margin: 3.5em 0 5em 0;
}

.container-partial-splash button:focus {
	outline-color: var(--color-primary-400) !important;
}

.heading {
	margin-bottom: 0.35em;
	text-align: center;
}

.tagline {
	margin-bottom: 2.35em;
	text-align: center;
}

.container-full-splash input {
	background-color: var(--color-secondary-400);
}

@media (max-width: 650px) {
	.heading {
		margin: 3.5rem 0 0.35em 0;
	}
}

/* Splash: Waves */
.container-waves {
	height: 22em;
	position: relative;
	overflow-x: hidden;
	background-color: var(--color-secondary-100);
	/* z-index: -100; */
}

.wave {
	width: 100%;
	min-width: 65rem;
	height: 100%;
	position: absolute;
	left: 0 !important;
	right: 0 !important;
	bottom: 0;
	transform: scaleX(2);
}

.wave-background {
	animation-duration: 12.35s;
}

.wave-middleground {
	animation-duration: 9.65s;
}

.wave-foreground {
	animation-duration: 5.15s;
}

@media (prefers-reduced-motion: no-preference) {
	.wave {
		animation-name: animateWave;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
	}

	@keyframes animateWave {
		0% {
			transform: translateX(0) scaleX(2);
		}
		50% {
			transform: translateX(-50%) scaleX(2);
		}
		100% {
			transform: translateX(0) scaleX(2);
		}
	}
}

/* Features */
.container-full-features {
	background-color: var(--color-primary-400);
	color: var(--color-secondary-100);
}

.container-partial-features {
	margin: 3.5em 0 8.5em 0;
}

.features-title {
	margin-bottom: 3.85rem;
	font-size: 2.35rem;
	font-weight: 600;
	text-align: center;
}

.container-partial-features-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

.feature {
	padding: 1.15em;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	word-wrap: break-word;
	z-index: 1;
}

.feature i {
	color: var(--color-secondary-100);
	font-size: 2.15rem;
}

.feature p {
	margin-top: 1.15em;
	width: 100%;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 1201px) {
	.feature {
		transform: scale(0.35);
	}

	.features-animation .feature {
		animation-name: featureEnter;
		animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}

	.feature:nth-child(1) {
		-webkit-animation-delay: 0;
		animation-delay: 0;
	}

	.feature:nth-child(2) {
		-webkit-animation-delay: calc(30ms * 1);
		animation-delay: calc(30ms * 1);
	}

	.feature:nth-child(3) {
		-webkit-animation-delay: calc(30ms * 2);
		animation-delay: calc(30ms * 2);
	}

	.feature:nth-child(4) {
		-webkit-animation-delay: calc(30ms * 3);
		animation-delay: calc(30ms * 3);
	}

	.feature:nth-child(5) {
		-webkit-animation-delay: calc(30ms * 4);
		animation-delay: calc(30ms * 4);
	}

	.feature:nth-child(6) {
		-webkit-animation-delay: calc(30ms * 5);
		animation-delay: calc(30ms * 5);
	}

	@keyframes featureEnter {
		0% {
			transform: scale(0.35);
		}
		100% {
			transform: scale(1);
		}
	}
}

@media (max-width: 1200px) {
	.container-partial-features-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 650px) {
	.container-partial-features-list {
		grid-template-columns: repeat(1, 1fr);
	}
}
