/* Confirmations */

.container-full {
	height: 100vh;
	padding-top: var(--header-height);
	color: var(--color-secondary-100);
}

.container-partial {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container-partial h1 {
	margin-bottom: 0.35em;
}

.container-form-button {
	margin-top: 1.85em;
}

@media (max-height: 285px), (max-width: 500px) {
	.container-full {
		height: fit-content;
	}

	.container-partial {
		margin: 3.5em 0;
		display: block;
	}
}

@media (max-width: 500px) {
	.container-form-button {
		width: 100%;
	}
}

/* Content */

.container-full-content {
	padding-top: var(--header-height);
	box-sizing: content-box;
	color: var(--color-secondary-100);
}
