.container-full {
	min-height: calc(100vh - 3.5rem);
}

.container-partial {
	margin: 3.5em 0;
	padding-top: 3.5rem;
}

.container-info h1,
.container-info p {
	margin-bottom: 0.65em;
}

.container-form {
	width: 32em;
	margin-top: 1.85em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container-form-input {
	width: 66.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-form-input input {
	border-color: var(--color-secondary-100);
}

.container-form-input input::placeholder {
	color: var(--color-secondary-100);
}

.container-form-button {
	width: fit-content;
}

@media (max-height: 150px) {
	.container-partial {
		padding-top: 0;
		display: block;
	}
}
