.containerMain {
    width: 100%;
    padding: 3.5em 12.5em;
    box-sizing: border-box;
}

.roadmapFeatures {
    margin-top: 5em;
}

.roadmapFeaturesHeading {
    font-size: 1.35rem;
    margin-bottom: 0.35em;
}

.roadmapFeaturesListElement {
    margin: 0 0 0.85em 1em;
    padding-left: 0.85em;
    font-size: 1rem;
    line-height: 2.85em;
}

@media(max-width: 1000px) {
    .containerMain {
        padding: 1.5em 1em;
    }

    .logo {
        max-width: 10em;
        margin-bottom: 3.5em;
    }

    .roadmapFeaturesHeading {
        font-size: 1rem;
        margin-bottom: 0.35em;
    }
    
    .roadmapFeaturesListElement {
        margin-left: 1em;
        padding-left: 0.85em;
        font-size: 0.85rem;
        line-height: 2.5em;
    }
}