.containerMain {
   width: 100%;
   min-height: 100%;
   padding: 0 1.5em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
}

.containerInformation {
   max-width: 35em;
}

.containerInformation p {
   margin: 1.5em 0;
   line-height: 2.35em;
}

.containerInformation a:focus {
   outline: 2px solid rgb(254, 76, 95);
}

.buttonPrimary {
   margin-top: 1em;
}

@media (max-width: 400px), (max-height: 350px) {
   .containerMain {
      padding: 1em;
      align-items: center;
      justify-content: flex-start;
   }
}
